<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <li> <a href="<%= bookmark.url%>"><%= bookmark.title%></a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <div class="delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete <%= bookmark.id %>">
        </div>
        </form>
        <form class="edit" action="/bookmarks/edit/<%= bookmark.id%>" method="GET">
              <input type="submit" value="edit">
        </form>
        <div>
          <form id="box" action="/bookmarks/<%= bookmark.id %>/comment/new" method="get">
              <input type="submit" value="comment">
          </form>
        </div>
        <div>
          <ul>
            <% bookmark.comments.each do |comment|%>
            <li><%= comment.text %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </li>
    </ul>
      <h2><%= flash[:notice] %></h2>
  </body>
</html>
