<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <li> <a href="<%= bookmark.url%>"> <%= bookmark.title%></a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <div class="delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete <%= bookmark.id %>">
        </div>
        </form>
        <form class="edit" action="/bookmarks/edit/<%= bookmark.id%>" method="GET">
              <input type="submit" value="edit">
        </form>
          <form class="comment" action="/bookmark/<%= bookmark.id%>/comment/new" method="get">
            <input type="submit" value="comments">
        </form>
      </li>
      <% end %>
    </ul>
      <h2><%= flash[:notice] %></h2>
  </body>
</html>
