<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <% if @user%>
      <h1>Welcome, <%= @user.email %></h1>
      <form class="" action="/sessions/destroy" method="post">
        <input type="submit" value="sign out">
      </form>
    <% end %>
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <li> <a href="<%= bookmark.url%>"><%= bookmark.title%></a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <div class="delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete <%= bookmark.id %>">
        </div>
        </form>
        <form class="edit" action="/bookmarks/edit/<%= bookmark.id%>" method="GET">
              <input type="submit" value="edit">
        </form>
        <div>
          <form class="comment" action="/bookmarks/<%= bookmark.id %>/comment/new" method="get">
              <input type="submit" value="add comment">
          </form>
        </div>
        <div>
          <form class="tag" action="/bookmarks/<%= bookmark.id %>/tag/new" method="get">
            <input type="submit" value="add tag">
          </form>
        </div>
        <div>
          <% if bookmark.comments.any? %>
          <h4>Comments</h4>
          <ul>
            <% bookmark.comments.each do |comment|%>
            <li><%= comment.text %></li>
            <% end %>
            <% end %>
          </ul>
        </div>
        <div>
          <% if bookmark.tags.any? %>
          <h5>Tags</h5>
          <ul>
            <% bookmark.tags.each do |tag| %>
            <li><%= tag.tag %></li>
            <% end %>
            <% end %>
          </ul>
        </div>
        <% end %>
      </li>
    </ul>
      <h2><%= flash[:notice] %></h2>
  </body>
</html>
